form {
    text-align: center;
}

textarea {
    height: 300px;
    width: 300px;
    background-image: paint(circle);
}

h2 {
    text-align: center;
    background-image: paint(brushstroke);
    font-family: 'Finger Paint', cursive;
    text-transform: uppercase;
    padding: 20px;
    color: antiquewhite;
    font-size: 36px;
}

p {
    text-align: center;
    background-image: paint(superUnderline);
    padding: 30px 30px;
    font-size: 24px;
}